*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* GENERAL RULEZ */

body{
    
}

.container{
    height: 100vh;
    width: 100%;
    background-color: rgb(255, 80, 240);
}

/* FINE GENERAL RULEZ */

/* PARTE HEADER */
.header-top{
    font-family: 'Roboto', sans-serif;
    font-size: 1.8rem;
    height: 80px;
    background-color: chartreuse;
}

.header-bottom{
    height: 100px;
    background-color: blue;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2.8rem;
    color: orange
}
/* FINE PARTE HEADER */



/* INIZIO MAIN */


.container-icone{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.container-icone .icon{
    flex-basis: calc(100% / 5 - 36px);
    padding: 15px;
    margin: 10px 18px;
    background-color: aqua;
    border-radius: 10px;
}